<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>World of Ideas</h1>
        <a href="/workbench">Workbench</a><br />
        <a href="/profile">Profile</a>
    </div>
</div>

<% include ./partials/footer %>