#allArguments {
    overflow-y: scroll;
    height: 400px;
}

.edit-premise {
    float: right;
    color: #ffffff;
    background-color: white;
    font-size: 35px;
}

.disposeBtn {
    background-color: white;
    font-size: 35px;
}